<div id="container" [class.cart-active]="cartNotEmpty">
  <div id="card-container">
    <div id="card-grid" *ngFor="let prod of products; let i = index; trackBy: trackByIndex">
      <app-card
                [image]="prod.image"
                [name]="prod.name"
                [price]="prod.price"
                [description]="prod.description"
                [stock]="prod.stock"
                [updateStock]="updateStock.bind(this)"
                [increaseStock]="increaseStock.bind(this)"
                [updateTotalPrice]="updateTotalPrice.bind(this)">
      </app-card>
    </div>
  </div>

  <div id="cart-count">
    <h1>Shopping Cart</h1>
    <div id="card-list">
      <div id="card-detail" *ngFor="let item of cartService.cart | keyvalue; let i = index; trackBy: trackByIndex">
        <div class="image">
          <img [src]="item.value.image" alt="{{item.key}} image" class="cart-image"/>
        </div>
        <div class="left">
          <h2>{{item.key}}</h2>
          <h2>{{item.value.description}}</h2>
          <div class="right">
            <h2>Amount: {{item.value.quantity}}</h2>
            <h2>Total Price: {{item.value.totalPrice}}</h2>
          </div>
        </div>
        <div class="button-list">
          <button (click)="removeFromCart(item.key)">Remove from cart</button>
          <button (click)="removeAllFromCart(item.key)">Remove all from cart</button>
        </div>
      </div>
    </div>
    <div id="total-price" *ngIf="totalPrice > 0">
      <h2>Total Price of All Items: {{ totalPrice }}</h2>
    </div>
  </div>
</div>
