#container {
  height: 100%;
  width: 100%;
  display: flex;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  width: 60%;
  gap: 20px;
}

#cart-count {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 20px;
}

#total-price {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#card-detail {
  width: fit-content;
  background-color: #9ab582;
  padding: 10px 10px;
  display: flex;
}

.left {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.right {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#card-grid {
  display: grid;
}

h2, h3 {
  color: #3e422f;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0px;
}

button {
  height: fit-content;
  width: fit-content;
  background-color: #aded41;
  color: #141414;
  padding: 10px 20px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 15px;
}

.button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
